
body {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    font-family: Gill Sans, sans-serif;
    font-size: 1.2em;
    color: #2200fe;
    background-color: rgb(169, 171, 184);
    padding: 10px;
    padding-top: 0px;
  }
  html{
    background-color: #fd8300;
  }
  a {
    color: #3aa6d0;
    text-decoration: none;
  }
  
  /* H TAGS */
  
  h1 {
    font-size: 4em;
    color: #b7ff00;
    align: center;
  }
  
  h1.toptitle {
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1.5em;
    color: #743c00;
  }
  
  h3 {
    font-size: 1.2em;
    color: #006c28;
  }
 
  /* ASIDE */
  
  .side-panel {
    float: right;
    width: 320px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: #93a9fa;
    padding: 5px;
    border: 1px solid #000e5f;
    color: #183a24;
  }
  .side-panel2 {
    float: left;
    width: 320px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: #ffd900;
    padding: 5px;
    border: 1px solid #dd0000;
  }
  aside h1 {
    font-size: 1.2em;
    margin-top: 0px;
  }
  
  aside h2 {
    font-size: 1em;
  }
  
  aside div {
    padding: 5px;
    background-color: #958787;
    margin-bottom: 15px;
  }
  
  aside ul {
    line-height: 1.8em;
    list-style-type: square;
    color: #ff8500;
  }
  
  header {
    margin-bottom: 40px;
  }
  
  /*NAV */
  
  nav {
    text-align: center;
    margin-top: 0;
  }
  
  nav h1 {
    display: none;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
  }
  
  nav a {
    font-weight: bold;
    color: #0776a0;
  }
  
  nav hr {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    background-color: #63dc90;
    color: #63dc90;
    height: 3px;
    border: 3px;
  }
  
  Message #web-development
  /* ASIDE*/


  
.side-panel {
  float: right;
  width: 320px;
  margin-right: 20px;
  margin-bottom: 15px;
  background-color: #d0d0d0;
  padding: 5px;
  border: 1px solid #a8a8a8;
  color: #00b945;
}
.side-panel2 {
  float: left;
  width: 320px;
  margin-right: 20px;
  margin-bottom: 15px;
  background-color: #d0d0d0;
  padding: 5px;
  border: 1px solid #a8a8a8;
}
aside h1 {
  font-size: 1.2em;
  margin-top: 0px;
}

aside h2 {
  font-size: 1em;
}

aside div {
  padding: 5px;
  background-color: #f0f0f0;
  margin-bottom: 15px;
}

aside ul {
  line-height: 1.8em;
  list-style-type: square;
  color: #00d9ff;
}

header {
  margin-bottom: 40px;
}

/*NAV */

nav {
    text-align: center;
    margin-top: 0;
  }
  
  nav h1 {
    display: none;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
  }
  
  nav a {
    font-weight: bold;
    color: #0776a0;
  }
  
  nav hr {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    background-color: #63dc90;
    color: #63dc90;
    height: 3px;
    border: 3px;
  }h1{
    color:wheat;
}
h2 {
    color: rgb(9, 93, 49);
}
.h2 {
    color: rgb(88, 26, 118);
    font-size:xx-large;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Silkscreen Expanded', sans-serif;


}
aside {
    float: right;
    width: 320px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: #d0d0d0;
    padding: 5px;
    border: 1px solid #a8a8a8;

  }
  body{
    background-color: blanchedalmond;
  }
  header{
    background-color: rgb(20, 180, 238);
  }
  footer {
    background-color: black;
    color: white;
  }

  
  